<span class="col-12 text-center">
	&copy; ecoAPM LLC
</span>
<span class="col-12 text-center small">
	Stock photos courtesy of
	<a class="text-light" href="https://www.wocintechchat.com/">
		#WOCinTech Chat
	</a>
</span>