@{
	var title = $"{Document.GetTitle()} &ndash; ecoAPM";
	var description = Document.GetString("Description") ?? "Open Source Application Performance Management For The Planet";
}
<title>@title</title>

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<meta name="description" content="@description"/>

<meta property="og:site_name" content="ecoAPM"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://ecoAPM.com/"/>
<meta property="og:title" content="@title"/>
<meta property="og:description" content="@description"/>
<meta property="og:image" content="https://ecoAPM.com/images/logo.png"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="ecoAPM"/>
<meta name="twitter:dnt" content="on"/>

<script type="application/ld+json">
{
    "@@context": "http://schema.org",
    "@@type": "Organization",
    "@@id": "https://ecoAPM.com",
    "name": "ecoAPM",
    "url": "https://ecoAPM.com",
    "image": {
        "@@context": "http://schema.org",
        "@@type": "ImageObject",
        "url": "https://ecoAPM.com/images/logo.jpg",
        "height": "400",
        "width": "400"
    },
    "logo": {
        "@@context": "http://schema.org",
        "@@type": "ImageObject",
        "url": "https://ecoAPM.com/images/logo.jpg",
        "height": "400",
        "width": "400"
    },
    "mainEntityOfPage": "https://ecoAPM.com",
    "email": "info@ecoAPM.com",
    "legalName": "ecoAPM LLC",
    "location": {
        "@@context": "http://schema.org",
        "@@type": "PostalAddress",
        "addressLocality": "Ithaca",
        "addressRegion": "NY",
        "addressCountry": "US"
    }
}
</script>

<script src="/lib/jquery.min.js"></script>
<script src="/lib/bootstrap.min.js"></script>

<link rel="stylesheet" href="/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="/lib/noto.css"/>
<link rel="stylesheet" href="/index.css"/>
<link rel="icon" href="/images/logo.png"/>