@using System.Globalization
@{
	Layout = "_Layout";
	var sectionName = Document.Source.Parent.GetRelativeInputPath().ToString();
	var sectionTitle = CultureInfo.InvariantCulture.TextInfo.ToTitleCase(sectionName);
}

<header class="jumbotron-fluid bg-green">
	<h2 class="p-3 m-0 text-center">
		<a href="/@sectionTitle.ToLower()" class="text-white">
			@sectionTitle
		</a>
	</h2>
</header>

<article class="container my-4">
	@if (Document.GetBool("Logo"))
	{
		<img src="/images/logos/@(Document.GetString("Name")).png" alt="@Document.GetTitle() logo"/>
	}
	else
	{
		<h3>@Document.GetTitle()</h3>
	}
	<h4 class="my-3">@Document.GetString("Description")</h4>

	@RenderBody()

	<a class="btn btn-light text-dark" href="https://github.com/@(Document.GetString("GitHubOrganization") ?? "ecoAPM")/@Document.GetString("Name")">
		<img src="/images/logos/github.png" alt="GitHub logo"/>
		View Source
	</a>
</article>

<footer class="text-center">
	<a class="btn btn-ecogreen text-white" href="mailto:info@ecoAPM.com">✉ Contact ecoAPM</a>
</footer>