Title: Home
Layout: _Layout
---

@using SrcSet.Statiq

<header class="jumbotron bg-green text-light rounded-0">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<img class="col-8 col-sm-5 col-md-4 col-lg-3 glow" src="/images/logo.png" alt="ecoAPM logo" />
			<div class="col-10 col-sm-6 col-md-6 col-lg-7 col-xl-7 mt-4 mt-sm-0 ml-sm-4 m-md-5 text-center text-sm-left">
				<h2>Open Source</h2>
				<h3>Application Performance Management</h3>
				<h4>For The Planet</h4>
			</div>
		</div>
	</div>
</header>

<article class="container-fluid container-xl p-0">
	<section class="my-5 card-xl overlay-xl m-xl-5">
		@Html.Raw(ResponsiveImages.SrcSet("images/books.jpg", attributes: new Dictionary<string, string>
		{
			{ "class", "card-xl w-100 img-fluid" },
			{ "alt", "Person sitting cross-legged, working on a laptop, surrounded by books" },
			{ "sizes", "(max-width: 1200px): 100vw, 50vw" }
		}))

		<div class="lightbox col-xl-7 px-xl-5">
			<span class="bkg"></span>
			<h2>Software</h2>
			<h5 class="my-3">
				<strong>ecoAPM</strong> is an Application Performance Management platform
			</h5>
			<p>
				It's 100% open source, and works with any language or framework.
			</p>
			<p>
				<strong>ecoAPM</strong> has a special focus on energy consumption, to help reduce the
				environmental impact that your software has on the planet.
			</p>
			<p>
				We're busy getting <strong>ecoAPM</strong> ready for the world.
				In the meantime, check out the rest of our OSS tools!
			</p>
			<div class="text-center">
				<a class="btn btn-ecogreen text-white" href="/software">Browse Software</a>
			</div>
		</div>
	</section>

	<section class="my-5 card-xl overlay-xl m-xl-5">
		@Html.Raw(ResponsiveImages.SrcSet("images/pairing.jpg", attributes: new Dictionary<string, string>
		{
			{ "class", "card-xl w-100 img-fluid" },
			{ "alt", "Developers pair-programming on a laptop" },
			{ "sizes", "(max-width: 1200px): 100vw, 50vw" }
		}))

		<div class="lightbox col-xl-7 px-xl-5">
			<span class="bkg"></span>
			<h2>Services</h2>
			<h5 class="my-3">
				App performance is our specialty
			</h5>
			<p>
				Whether you're having specific performance pains, or just want your app running its best,
				the team behind <strong>ecoAPM</strong> would be thrilled to help you reach your goals.
			</p>
			<p>
				Need to learn about modern performance best practices?
				Want a performance expert to join your team part time?
				We've got your back!
			</p>
			<p>
				If you need a hand installing, maintaining, or using any of our
				<a href="/software">OSS tools</a>, we're here to help!
			</p>
			<div class="text-center">
				<a class="btn btn-ecogreen text-white" href="/services">Professional Services</a>
			</div>
		</div>
	</section>

	<section class="my-5 card-xl overlay-xl m-xl-5">
		@Html.Raw(ResponsiveImages.SrcSet("images/servers.jpg", attributes: new Dictionary<string, string>
		{
			{ "class", "card-xl w-100 img-fluid" },
			{ "alt", "Developer standing with a laptop in front of a glass-enclosed row of server racks" },
			{ "sizes", "(max-width: 1200px): 100vw, 50vw" }
		}))

		<div class="lightbox col-xl-7 px-xl-5">
			<span class="bkg"></span>
			<h2>Support</h2>
			<h5 class="my-3">
				Whether you're looking for support, or looking to help support us, you're in the right place!
			</h5>
			<p>Get support for <strong>ecoAPM</strong> software, or help support our OSS efforts.</p>
			<div class="text-center">
				<a class="btn btn-ecogreen text-white" href="/support">Support Portal</a>
			</div>
		</div>
	</section>

	<section class="my-5 card-xl overlay-xl m-xl-5">
		@Html.Raw(ResponsiveImages.SrcSet("images/autumn.jpg", attributes: new Dictionary<string, string>
		{
			{ "class", "card-xl w-100 img-fluid" },
			{ "alt", "Lead Developer Steve Desmond" },
			{ "sizes", "(max-width: 1200px): 100vw, 50vw" }
		}))

		<div class="lightbox col-xl-7 px-xl-5">
			<span class="bkg"></span>
			<h2>About</h2>
			<h5 class="my-3">
				<strong>ecoAPM</strong> is a small open source software company based in Ithaca, NY
			</h5>
			<p>Learn more about Steve and ecoAPM using the link below.</p>
			<div class="text-center">
				<a class="btn btn-ecogreen text-white" href="/about">About ecoAPM</a>
			</div>
		</div>
	</section>
</article>