name: Deploy
on:
  push:
    branches:
      - 'main'

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          lfs: true

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Build
        run: dotnet run

      - name: Upload
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'dist'

  Deploy:
    runs-on: ubuntu-latest
    needs: Build

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    permissions:
      pages: write
      id-token: write

    steps:
      - id: deployment
        name: Deploy
        uses: actions/deploy-pages@v4